.item__wrap-hover
   background-color: #2EA8E6 !important
.item__weight-hover
   background-color: #2EA8E6 !important
.item__btn-hover
   color: #2EA8E6 !important
   border-bottom: 1px dashed #2EA8E6 !important