@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap')
@font-face
   font-family: 'Trebuchet MS'
   src: url('../fonts/TrebuchetMS-Bold.eot')
   src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'), url('../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TrebuchetMS-Bold.woff') format('woff'), url('../fonts/TrebuchetMS-Bold.ttf') format('truetype')
   font-weight: bold
   font-style: normal
@font-face
   font-family: 'Trebuchet MS'
   src: url('../fonts/TrebuchetMS.eot')
   src: local('Trebuchet MS'), local('TrebuchetMS'), url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'), url('../fonts/TrebuchetMS.woff') format('woff'), url('../fonts/TrebuchetMS.ttf') format('truetype')
   font-weight: normal
   font-style: normal
@import "_normalize"

*
   font-family: 'Exo 2', sans-serif

.container
   max-width: 1120px
   margin: 0 auto

.main
   width: 100%
   height: 100%
   background-image: url(https://raw.githubusercontent.com/Mangecu/FunBox-Task/gh-pages/assets/img/bg.png)
   padding-top: 36px
   .content
      display: flex
      flex-direction: column
      h1
         font-size: 36px
         line-height: 44px
         color: #ffffff
         text-shadow: 0 1px 1px #000000
         text-align: center
      .items
         display: flex
         flex-direction: row
         justify-content: space-between
         flex-wrap: wrap
         margin-top: 24px
         .item
            .item__info
               padding: 19px 0 0 45px
               height: 480px
               width: 320px
               background-image: url(https://raw.githubusercontent.com/Mangecu/FunBox-Task/gh-pages/assets/img/cat.png)
               background-repeat: no-repeat
               background-position: top 204px left -24px
               background-color: #f2f2f2
               border: 4px solid #1698d9
               border-radius: 12px
               clip-path: polygon(45.45px 0, 0 45.45px, 0 480px, 320px 480px, 320px 0)
               position: relative
               .corner
                  position: absolute
                  width: 100px
                  height: 100px
                  top: 0
                  left: 8px
                  transform: rotate(45deg)
                  border-left: 4px solid #1698d9
               .item__preTitle
                  font-family: 'Trebuchet MS'
                  font-size: 16px
                  line-height: 1.2
                  font-weight: 400
                  color: #666666
                  margin-bottom: 15px
               .item__title,
               .item__add,
               .item__count,
               .item__gift
                  font-weight: 700
                  font-family: 'Trebuchet MS'
               .item__title
                  font-size: 48px
                  line-height: 56px
                  margin-bottom: 4px
               .item__add
                  font-size: 24px
                  line-height: 28px
                  margin-bottom: 16px
               .item__count,
               .item__gift
                  font-size: 14px
                  line-height: 16px
                  color: #666666
               .item__weight
                  font-family: 'Trebuchet MS'
                  font-weight: 700
                  display: flex
                  flex-direction: column
                  height: 80px
                  width: 80px
                  position: absolute
                  top: 75.44%
                  left: 70%
                  background-color: #2EA8E6
                  color: #FFFFFF
                  font-size: 42px
            .item__massage
               margin-top: 14px
            .item__massage,
            .item__massage button
               font-size: 13px
               line-height: 15px
               text-align: center
               color: #FFFFFF
               font-weight: 700
               button
                  background-color: transparent
                  color: #2EA8E6
                  border-bottom: 1px dashed #2EA8E6



